body{        
    background-color: rgb(191, 224, 214);
    padding-bottom: 40px;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background:  rgb(191, 224, 214);
    padding: 10px 0;
    color: rgb(246, 241, 241);
    
}
.fixed-header{
    top: 0;
    
}
.fixed-footer{
    bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
    color: rgb(10, 10, 10);
    font-size: medium;
    text-decoration:none;
    padding: 7px 25px;
    display: inline-block;
}
.container p{
    line-height: 23px; /* Create scrollbar to test positioning */
}

 /* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: rgb(108, 187, 184);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #1ec376;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}


* {
    box-sizing: border-box;
  }
  
 
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  /**/
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns*/ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
     
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    
  }