{% extends 'layout.html' %}

{% block body %}

<div style="text-align: center; margin-top: 15px;padding-top: 15px;">
  <h1>{{article.title}}</h1>
  <h5 style="color: hsl(209, 69%, 14%);">Written by {{article.author}} on {{article.create_date}}</h5>
</div>
<hr>
<!--div style="padding: 10px 400px> </div-->
<div style="height:400px;width:1200px;overflow:scroll;border:1px solid #e9f0e9;padding-left: 30px;">
  <p>{{ article.body | safe }}</p>
</div>

<div style="text-align: center;"><a class="btn btn-primary btn-sm" href="/articles"> Back to Articles</a>
  <a class="btn btn-primary btn-sm" href="/dashboard"> Back to Dashboard</a>
</div>

{% endblock %}